<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Survey Form</title>
</head>
<body>
    <h2>Dojo survey:</h2>
    <form action="/result" method="post">
        Your name: <input type="text" name="name"> <br><br>
        Dojo Location: <select name="location" id="">
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="Dallas">Dallas</option>
            <option value="Tulsa">Tulsa</option>
            <option value="Mountain View">Mountain View</option>
        </select> <br><br>
        Favorite Language: <select name="language" id="">
            <option value="javascript">JavaScript</option>
            <option value="csharp">C#</option>
            <option value="python">Python</option>
            <option value="swift">Swift</option>
            <option value="java">Java</option>
        </select> <br>
        <p>Comment (optional):</p><br>
        <textarea name="comment" id="" cols="30" rows="10"></textarea> <br><br>
        <input type="submit" value="Submit Here">

    </form>
</body>
</html>