<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Submitted Info</title>
</head>
<body>
    <h2>Submitted Information:</h2>
    <h3><span>Name:</span> <%= student.name %></h3>
    <h3><span>Dojo Location:</span> <%= student.location %></h3>
    <h3><span>Favorite Language:</span> <%= student.language %></h3>
    <p><span>Comment:<span> <%= student.comment %></p>
</body>
</html>