<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/quotes" method="post">
        Your name: <input type="text" name="name"><br><br>
        Your quote: <br> <textarea name="theQuote" id="the_quote" cols="30" rows="10"></textarea> <br><br>
        <button value="submit">Add my quote!</button>
    </form> <br>
    <a href="/quotes"><button>Skip to quotes!</button> </a>
</body>
</html>