<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>The Counter</title>
</head>
<body>
    <h2>Counter</h2>
    <p><%= counter %></p>
    <form action="/addtwo" method="post">
        <button value="submit">Add 2</button>
    </form> <br>
    <form action="/reset" method="post">
        <button value="submit">Reset</button>
    </form>
</body>
</html>