<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to {{number | currency:'USD':true}}!</h1>
<h2>{{name}}</h2>

<h3>First Name: {{user.firstName}}</h3>
<h3>Last Name: {{user.lastName | uppercase}}</h3>

<input type="text" [value]='number'><br>
<img src="" [alt]="user.lastName">

<h4 *ngIf='loggedIn'> You're logged in as {{user.firstName}} </h4> 
<h5 *ngIf='!loggedIn'> Please log in. </h5> 
<h5 *ngFor='let number of numbers'>{{ number }}</h5>

<p><span class="red">Style</span></p>

<span [ngClass]="{ 'green': true, 'bold': false }">I should be green but not bolded.</span><br>
<span [ngClass]="{'green': true, 'bold': true }">I should be green and bolded.</span><br>
<span [ngClass]="{'red': true, 'bold': true }">I should be red and bolded.</span><br><br>

<span [ngClass]="{ 'on': switch }">I should be yellow.</span><br>
<span [ngClass]="{ 'on': 1===1 }">I should be yellow.</span><br><br>

<!--parenthesis to put an event-->
<button (click)='logNum()'>Log the num value</button>
<button (click)='num = num + 1'>Increment num</button>
<button (click)='increaseNum()'>Increment num v2</button>