h1{
    border: 3px solid purple;
    background-color: pink;
}

h2 span{
    color: maroon;
}

.the_message{
    font-size: 20px;
}

.comment_space{
    border: 2px dashed orangered;
    border-style: none none dashed none;
    margin-left: 50px;
}

h4{
    color: purple; 
}

#posting{
    border: 4px dashed darkcyan;
    border-style: none none dashed none;
    margin-right: 50px;
}